* {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    background: #F8F8FF;
}

.topo {
    max-width: 100%;
    min-height: 80px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px -6px gray;

}

.panel-general {
    width: 900px;
    height: 500px;
    position: absolute;
    left: calc(50% - 450px);
    top: calc(50% - 180px);
    background: #F8F8FF;

}

.panel-left {
    width: 600px; 
    height: 500px;
    position: absolute;
    background: white;
   }

.post {
    width:600px; 
    height:700px;
    z-index:1;
    overflow: auto;
    position:absolute;
    border: 1px solid #DCDCDC;	
      
}

.parte-1 {
    width:600px; 
    height:450px;
}

.parte-icones {   
    width:600px; 
    height:50px;
    margin-top:6px;
}

.parte-2 {
    width:600px; 
    height:185px;
}

.likes {
    margin: 0px 0px 8px 12px;
    display: block;
}

.txt-post {
     margin: 8px 8px 8px 12px;
     display: block;
     cursor: pointer;
 }

 .comment-1, .comment-2 {
    margin: 8px 8px 8px 12px;
    display: block;
    cursor: pointer;
}

.last-acess-post {
    margin: 8px 8px 8px 12px;
    display: block;
    color: gray;
    font-size: 14px;
}

.img-icon-heart-comment {
    width: 18px;
    height: 14px;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 4px;
}

#input-comment {
    width: 550px;
    height: 44px;
    border: 1px solid #DCDCDC;
    border-right:1px solid white	
}


.button-report {
    width: 50px;
    height: 44px;
    float: right;
    background: white;
    border: 1px solid white;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;	
    
}

.img-afoh {
    width: 600px;
    height: 400px;
    cursor: pointer;
}

.img-icon-heart-post {
    width: 32px;
    height: 26px;
    cursor: pointer;
    float: left;
    margin: 6px;
    padding: 4px;
}

.img-icon-chat {
    width: 32px;
    height: 24px;
    cursor: pointer;
    float: left;
    margin: 6px;
    padding: 4px;


}

.img-icon-share {
    width: 28px;
    height: 22px;
    cursor: pointer;
    float: left;
    margin: 6px;
    padding: 4px;


}
.img-icon-save {
    width: 24px;
    height: 28px;
    cursor: pointer;
    float: right;
    margin: 10px 10px 6px 6px;

}


.panel-right {
    width: 270px;
    height: 500px;
    /*background: #7FFF00;*/
    float: right;

}

.profile {
    width: calc(270px);
    height: calc(500px - 88%) ;
    padding: 12px;
    float: right;
    cursor: pointer;

    

}
.stories {
    width: 250px;
    height: calc(500px - 55%) ;
    padding: 12px;
    background: white;
    z-index:1;
    overflow: auto;
    border: 1px solid #DCDCDC;

}

.suggestions {
    width: 250px;
    height: calc(500px - 65%);
    padding: 12px;
    background: white;
    margin-top: 12px; 
    border: 1px solid #DCDCDC;	

}

#storie {
    background: white;
    z-index:1;
    overflow: auto;
    border: 1px solid white;
    padding: 4px 0px 2px 0px;
    
}

.storie-title {
    margin-bottom: 8px;
    margin-left: 12px;
    color: gray;
    display: inline-flex;
}

.ver-tudo-stories {
    margin-bottom: 8px;
    color: #1C1C1C;
    float: right;
    display: inline-block;
    cursor: pointer;

}

.ver-tudo-suggestions {
    margin-bottom: 8px;
    margin-right: 8px;
    color: #1C1C1C;
    float: right;
    display: inline-block;
    cursor: pointer;

}

.post::-webkit-scrollbar {
    width: 0px;
}


.img-queenie  {
    width: 46px;
    height: 46px;
    border-radius: 32px;
    border: 1px solid #CDC8B1;
    margin: 0px 8px 24px 8px;
   /* position: absolute;*/
    float: left;
    display: flex;
    cursor: pointer;

}


.username-queenie  {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;

    
}

.name-queenie {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    color: gray;
    font-size: 13.5px;


}

.img-newt {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid #C71585;
    margin: 0px 12px 8px 8px;
    float: left;
    cursor: pointer;

}

 .username-newt {
    display: inline-flex;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;

}




.last-acess-stories {
    margin: 2px 0px 0px 0px;
    display: inline-block;
    color: gray;
    font-size: 11px;
}


.img-tina {
    width: 32px;
    height: 32px;
    border-radius: 26px;
    border: 1px solid #CDC8B1;
    margin: 0px 12px 8px 8px;
    float: left;
    cursor: pointer;


}
.img-dumbledore {
    width: 38px;
    height: 38px;
    border-radius: 32px;
    border: 2px solid #C71585;
    margin: 8px;
    float: left;
    cursor: pointer;
}

 .username-dumbledore {
    display: inline-flex;
    margin: 4px 8px 12px 0px;
    cursor: pointer;

}


.username-tina {
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    cursor: pointer;


}
#suggestion {
    background: white;
    z-index:1;
    overflow: auto;
    border: 1px solid white;
    padding: 4px 0px 2px 0px;
    
}

.title-suggestions {
    margin: 18px 8px 16px 8px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}


.txt-suggestions {
    display: inline-flex;
    margin-top: 4px;
    font-size: 12px;
}


.icon-instagram {
    width: 28px;
    height: 28px;
    margin: 24px 32px 32px 0;
    margin-left: 180px;
    cursor: pointer;
    position: absolute;
}

.txt-instagram {
    width: 102px;
    height: 36px;
    margin: 24px 32px 48px 0;
    margin-left: 220px;
    cursor: pointer;
    position: absolute;

}

.img-icon-bussola {
    width: 22px;
    height: 22px;
    cursor: pointer;
    float: right;
    margin: 24px 32px 32px 0;
    margin-right: 30px;
}


.img-icon-avatar {
    width: 18px;
    height: 18px;
    cursor: pointer;
    float: right;
    margin: 24px 32px 32px 0;
    margin-right: 200px;
}

.img-icon-heart {
    width: 32px;
    height: 24px;
    cursor: pointer;
    float: right;
    margin: 24px 32px 32px 0;
    margin-right: 26px;
}


.input-search {
    width: 200px;
    height: 24px;
    float: center;
    position: absolute;
    margin: 24px 8px 0 542px;
    padding: 4px;
}






